In [608]:
import pandas as pd
from pathlib import Path

# Data Loading

Read csv file

In [609]:
df = pd.read_csv("airbnb_v2.csv", header = 1, skipinitialspace = True)
df

/var/folders/v5/plt47dqx1p9g2bh7wtyz2mmw0000gn/T/ipykernel_1581/4292877625.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("airbnb_v2.csv", header = 1, skipinitialspace = True)

,ID,"""name""",host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Unnamed: 15,Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.05646457,NaN,$149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.05427828,NaN,225
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,3,0,NaN,NaN,First Floor,56.05427828,NaN,150
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514 °N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.05646457,NaN,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.05427828,NaN,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39113,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,2,0,NaN,NaN,First Floor,69.05646457,NaN,70
39114,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,4,0,NaN,NaN,First Floor,69.05646457,NaN,40
39115,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,10,0,NaN,NaN,First Floor,56.05427828,NaN,$115
39116,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan Borough,Hell's Kitchen,40.75751,-73.99112° W,Shared room,1,0,NaN,NaN,First Floor,56.05427828,NaN,$55
39117,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,7,0,NaN,NaN,First Floor,56.05427828,NaN,$90

List columns (for convenience)

In [610]:
def list_columns():
    for col in df:
        print(col)
        
list_columns()

ID
"name"
host [id]
host-name
neighbourhood group
neighbourhood
latitude
longitude
room and type
minimum nights
number_of_reviews
last_review
reviews_per_month
floor
noise(dB)
Unnamed: 15
Price ($)

# Data Cleaning

Remove Unnamed Column 15

In [611]:
df.drop(df.columns[15], axis = 1, inplace=True)
df

,ID,"""name""",host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.05646457,$149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.05427828,225
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,3,0,NaN,NaN,First Floor,56.05427828,150
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514 °N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.05646457,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.05427828,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39113,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,2,0,NaN,NaN,First Floor,69.05646457,70
39114,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,4,0,NaN,NaN,First Floor,69.05646457,40
39115,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,10,0,NaN,NaN,First Floor,56.05427828,$115
39116,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan Borough,Hell's Kitchen,40.75751,-73.99112° W,Shared room,1,0,NaN,NaN,First Floor,56.05427828,$55
39117,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,7,0,NaN,NaN,First Floor,56.05427828,$90

Remove quotes in "name" column

In [612]:
df.rename(columns = {'\"name\"' : 'name'}, inplace = True)
list_columns()

ID
name
host [id]
host-name
neighbourhood group
neighbourhood
latitude
longitude
room and type
minimum nights
number_of_reviews
last_review
reviews_per_month
floor
noise(dB)
Price ($)

Remove all Missing Values

In [613]:
df.dropna(axis=0, inplace = True)
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.05646457,$149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.05427828,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514 °N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.05646457,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.05427828,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.975,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,First Floor,56.05427828,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn Borough,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,First Floor,70.05646457,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,First Floor,56.05427828,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,First Floor,50.96436034,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787 °N,-73.924,Entire home/apt,1,2,2019-07-07,2.00,Fifth Floor,78.47407379,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805 °N,-73.92801,Private room,1,1,2019-07-08,1.00,First Floor,69.05646457,30

Change Month and Week in Minimum Nights to Nights

In [614]:
# Find out all unique types of time periods (nights, weeks, months etc)
def add_text(x):
    if ' ' not in x:
        x += " nights"
    return x

df['minimum nights'] = df['minimum nights'].apply(add_text)
df['time period'] = df['minimum nights'].str.split(' ').str[1]
df['minimum nights'] = df['minimum nights'].str.split(' ').str[0]

df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($),time period
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.05646457,$149,nights
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.05427828,225,nights
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514 °N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.05646457,89,nights
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.05427828,80,nights
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.975,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,First Floor,56.05427828,200,nights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn Borough,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,First Floor,70.05646457,550,nights
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,First Floor,56.05427828,129,nights
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,First Floor,50.96436034,235,nights
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787 °N,-73.924,Entire home/apt,1,2,2019-07-07,2.00,Fifth Floor,78.47407379,100,nights
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805 °N,-73.92801,Private room,1,1,2019-07-08,1.00,First Floor,69.05646457,30,nights

In [615]:
sorted(df['time period'].unique())

['month', 'nights']

In [616]:
# Only two time periods are nights (1 night) and month (31 nights). Apply this to minimum nights
df['minimum nights'] = pd.to_numeric(df['minimum nights'])
df['time period'].replace({'nights' : 1, 'month' : 31}, inplace = True)
df['minimum nights'] = df['minimum nights'] * df['time period']
del df['time period']
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.05646457,$149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.05427828,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514 °N,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.05646457,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.05427828,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.975,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,First Floor,56.05427828,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn Borough,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,First Floor,70.05646457,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,First Floor,56.05427828,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,First Floor,50.96436034,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787 °N,-73.924,Entire home/apt,1,2,2019-07-07,2.00,Fifth Floor,78.47407379,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805 °N,-73.92801,Private room,1,1,2019-07-08,1.00,First Floor,69.05646457,30

Remove all non-numeric keys from numeric columns

In [617]:
numeric_column_names = ['ID', 'host [id]', 'latitude', 'longitude', 'number_of_reviews', 
                        'reviews_per_month','noise(dB)', 'Price ($)']

for col in numeric_column_names:
    # Longitude is the only column with negative values, and all values are negative, so will ignore for now
    df[col].replace('[^0-9\.]', '', inplace = True, regex = True)
    df[col] = pd.to_numeric(df[col])

# Add negative values back to longitude
df['longitude'] = df['longitude'].apply(lambda x: x*-1)
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,First Floor,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,First Floor,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,First Floor,69.056465,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,First Floor,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,First Floor,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn Borough,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,First Floor,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,First Floor,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,First Floor,50.964360,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,1,2,2019-07-07,2.00,Fifth Floor,78.474074,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,1,1,2019-07-08,1.00,First Floor,69.056465,30

Changing Floor to All Numeric

In [618]:
sorted(df['floor'].unique())

['0',
 '1',
 '1st-floor',
 '2',
 '5',
 '5th Floor',
 '8',
 'Eighth Floor',
 'Eleventh Floor',
 'Fifth Floor',
 'First Floor',
 'First Floor (Balcony View)',
 'Fourth Floor',
 'Hundreth Floor',
 'Lower Level',
 'Second Floor',
 'Seventeenth Floor',
 'Sixteenth Floor',
 'Sixth Floor',
 'Tenth Floor',
 'Third Floor',
 'Twentieth Floor']

In [619]:
floor_to_num = {'1st-floor' : '1', '5th Floor' : '5', 'Eighth Floor' : '8', 'Eleventh Floor' : '11', 
                'Fifth Floor' : '5', 'First Floor' : '1', 'First Floor (Balcony View)' : '1', 
                'Fourth Floor' : '4', 'Hundreth Floor' : '100', 'Lower Level' : '0', 'Ninth Floor' : '9', 
                'Second Floor' : '2', 'Seventeenth Floor' : '17', 'Seventh Floor' : '7', 'Sixteenth Floor' : '16', 
                'Sixth Floor' : '6', 'Tenth Floor' : '10', 'Third Floor' : '3', 'Thirteenth Floor' : '13', 
                'Twentieth Floor' : '20'}

df['floor'].replace(floor_to_num, inplace=True)
df['floor'] = pd.to_numeric(df['floor'])

sorted(df['floor'].unique())

[0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 16, 17, 20, 100]

In [620]:
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn Borough,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,1,1,2019-07-08,1.00,1,69.056465,30

Fix Neighborhood Group

In [621]:
sorted(df['neighbourhood group'].unique())

['**Manhattan**  ',
 'Bronx',
 'Brooklyn',
 'Brooklyn Borough',
 'Manhattan',
 'Manhattan Borough',
 'Queens',
 'Queens -Neighbourhood Group',
 'Queens-Borough',
 'Staten Island',
 'brklyn',
 'manhattan neighbourhood',
 'manhattan-neighbourhood',
 'mnahattan',
 'quens ']

In [622]:
df['neighbourhood group'] = df['neighbourhood group'].str.split(' ').str[0]
df['neighbourhood group'] = df['neighbourhood group'].str.split('-').str[0]
sorted(df['neighbourhood group'].unique())

['**Manhattan**',
 'Bronx',
 'Brooklyn',
 'Manhattan',
 'Queens',
 'Staten',
 'brklyn',
 'manhattan',
 'mnahattan',
 'quens']

In [623]:
neighbourhood_group_fixing = {'**Manhattan**' : 'Manhattan', 'Staten' : 'Staten Island', 'brklyn' : 'Brooklyn', 
                             'manhattan' : 'Manhattan', 'mnahattan' : 'Manhattan', 'quens' : 'Queens'}
df['neighbourhood group'].replace(neighbourhood_group_fixing, inplace=True)
sorted(df['neighbourhood group'].unique())

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

In [624]:
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,1,1,2019-07-08,1.00,1,69.056465,30

Fixing Neighbourhood

In [625]:
sorted(df['neighbourhood'].unique())

['Allerton',
 'Arden Heights',
 'Arrochar',
 'Arrochar-Staten Island',
 'Arverne',
 'Astoria',
 'Astoria-Queens',
 'Bath Beach',
 'Bath Beach-Brooklyn',
 'Battery Park City',
 'Bay Ridge',
 'Bay Ridge-Brooklyn',
 'Bay Terrace',
 'Bay Terrace, Staten Island',
 'Baychester',
 'Bayside',
 'Bayswater',
 'Bayswater-Queens',
 'Bedford-Stuyvesant',
 'Bedford-Stuyvesant-Brooklyn',
 'Bedford-Stuyvesant-Brooklyn Borough',
 'Belle Harbor',
 'Bellerose',
 'Belmont',
 'Belmont-Bronx',
 'Bensonhurst',
 'Bergen Beach',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point',
 'Briarwood',
 'Brighton Beach',
 'Bronxdale',
 'Brooklyn Heights',
 'Brooklyn Heights-Brooklyn',
 'Brooklyn Heights-brklyn',
 'Brownsville',
 "Bull's Head",
 'Bushwick',
 'Bushwick-Brooklyn',
 'Cambria Heights',
 'Canarsie',
 'Canarsie-Brooklyn',
 'Carroll Gardens',
 'Castle Hill',
 'Castleton Corners',
 'Chelsea',
 'Chelsea-Manhattan',
 'Chelsea-Manhattan Borough',
 'Chinatown',
 'Chinatown-Manhattan',
 'Chinatown-Manhattan Borough',
 'Chinatown-manhattan neighbourhood',
 'City Island',
 'Civic Center',
 'Claremont Village',
 'Clason Point',
 'Clifton',
 'Clinton Hill',
 'Clinton Hill-Brooklyn',
 'Co-op City',
 'Cobble Hill',
 'College Point',
 'College Point-Queens',
 'Columbia St',
 'Columbia St-Brooklyn',
 'Concord',
 'Concourse',
 'Concourse Village',
 'Concourse-Bronx',
 'Coney Island',
 'Corona',
 'Crown Heights',
 'Crown Heights-Brooklyn',
 'Cypress Hills',
 'Cypress Hills-Brooklyn',
 'DUMBO',
 'Ditmars Steinway',
 'Ditmars Steinway-Queens',
 'Dongan Hills',
 'Douglaston',
 'Downtown Brooklyn',
 'Dyker Heights',
 'East Elmhurst',
 'East Elmhurst-Queens',
 'East Flatbush',
 'East Flatbush-Brooklyn',
 'East Flatbush-Brooklyn Borough',
 'East Harlem',
 'East Harlem-Manhattan',
 'East Harlem-Manhattan Borough',
 'East Harlem-manhattan-neighbourhood',
 'East Harlem-mnahattan',
 'East Morrisania',
 'East New York',
 'East New York-Brooklyn',
 'East New York-Brooklyn Borough',
 'East Village',
 'East Village-Manhattan',
 'East Village-Manhattan Borough',
 'East Village-manhattan neighbourhood',
 'East Village-mnahattan',
 'Eastchester',
 'Edenwald',
 'Edgemere',
 'Elmhurst',
 'Elmhurst-Queens',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fieldston',
 'Financial District',
 'Financial District-Manhattan',
 'Financial District-Manhattan Borough',
 'Flatbush',
 'Flatbush-Brooklyn',
 'Flatiron District',
 'Flatlands',
 'Flatlands-Brooklyn',
 'Flushing',
 'Flushing-Queens',
 'Fordham',
 'Forest Hills',
 'Forest Hills-Queens',
 'Fort Greene',
 'Fort Greene-Brooklyn',
 'Fort Hamilton',
 'Fresh Meadows',
 'Glendale',
 'Gowanus',
 'Gowanus-Brooklyn',
 'Gramercy',
 'Gramercy-Manhattan',
 'Graniteville',
 'Grant City',
 'Gravesend',
 'Great Kills',
 'Greenpoint',
 'Greenpoint-Brooklyn',
 'Greenpoint-Brooklyn Borough',
 'Greenwich Village',
 'Greenwich Village-manhattan neighbourhood',
 'Grymes Hill',
 'Harlem',
 'Harlem-Manhattan',
 'Harlem-Manhattan Borough',
 'Harlem-manhattan neighbourhood',
 'Harlem-mnahattan',
 "Hell's Kitchen",
 "Hell's Kitchen-Manhattan",
 "Hell's Kitchen-Manhattan Borough",
 "Hell's Kitchen-manhattan neighbourhood",
 'Highbridge',
 'Hollis',
 'Holliswood',
 'Howard Beach',
 'Howland Hook',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Inwood-Manhattan',
 'Inwood-Manhattan Borough',
 'Jackson Heights',
 'Jackson Heights-Queens',
 'Jamaica',
 'Jamaica Estates',
 'Jamaica Hills',
 'Jamaica-Queens',
 'Kensington',
 'Kensington-Brooklyn',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Kingsbridge-Bronx',
 'Kips Bay',
 'Kips Bay-Manhattan',
 'Laurelton',
 'Laurelton-Queens -Neighbourhood Group',
 'Lighthouse Hill',
 'Little Italy',
 'Little Italy-Manhattan',
 'Little Neck',
 'Long Island City',
 'Long Island City-Queens',
 'Longwood',
 'Longwood-Bronx',
 'Lower East Side',
 'Lower East Side-Manhattan',
 'Lower East Side-Manhattan Borough',
 'Lower East Side-manhattan-neighbourhood',
 'Manhattan Beach',
 'Marble Hill',
 'Mariners Harbor',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midland Beach',
 'Midtown',
 'Midtown-Manhattan',
 'Midtown-Manhattan Borough',
 'Midtown-manhattan neighbourhood',
 'Midwood',
 'Midwood-Brooklyn',
 'Mill Basin',
 'Morningside Heights',
 'Morningside Heights-Manhattan',
 'Morris Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven',
 'Mott Haven-Bronx',
 'Mount Eden',
 'Mount Hope',
 'Murray Hill',
 'Murray Hill-Manhattan',
 'Murray Hill-Manhattan Borough',
 'Navy Yard',
 'Navy Yard-Brooklyn',
 'Neponsit',
 'New Brighton',
 'New Dorp Beach',
 'New Springville',
 'NoHo',
 'Nolita',
 'North Riverdale',
 'Norwood',
 'Norwood-Bronx',
 'Oakwood',
 'Olinville',
 'Ozone Park',
 'Park Slope',
 'Park Slope-Brooklyn',
 'Parkchester',
 'Pelham Bay',
 'Pelham Gardens',
 'Port Morris',
 'Port Richmond',
 "Prince's Bay",
 'Prospect Heights',
 'Prospect Heights-Brooklyn',
 'Prospect Heights-brklyn',
 'Prospect-Lefferts Gardens',
 'Prospect-Lefferts Gardens-Brooklyn Borough',
 'Queens Village',
 'Queens Village-Queens',
 'Randall Manor',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Richmondtown',
 'Ridgewood',
 'Riverdale',
 'Rockaway Beach',
 'Roosevelt Island',
 'Rosebank',
 'Rosedale',
 'Rossville',
 'Schuylerville',
 'Sea Gate',
 'Sheepshead Bay',
 'Sheepshead Bay-Brooklyn',
 'Shore Acres',
 'Silver Lake',
 'SoHo',
 'SoHo-Manhattan',
 'Soundview',
 'South Beach',
 'South Ozone Park',
 'South Slope',
 'South Slope-Brooklyn',
 'Springfield Gardens',
 'Springfield Gardens-Queens',
 'Springfield Gardens-Queens -Neighbourhood Group',
 'Spuyten Duyvil',
 'St. Albans',
 'St. George',
 'Stapleton',
 'Stuyvesant Town',
 'Sunnyside',
 'Sunnyside-Queens',
 'Sunset Park',
 'Sunset Park-Brooklyn',
 'Theater District',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tompkinsville-Staten Island',
 'Tottenville',
 'Tremont',
 'Tribeca',
 'Tribeca-Manhattan Borough',
 'Two Bridges',
 'Unionport',
 'University Heights',
 'Upper East Side',
 'Upper East Side-Manhattan',
 'Upper East Side-Manhattan Borough',
 'Upper West Side',
 'Upper West Side-Manhattan',
 'Upper West Side-Manhattan Borough',
 'Upper West Side-mnahattan',
 'Van Nest',
 'Vinegar Hill',
 'Wakefield',
 'Wakefield-Bronx',
 'Washington Heights',
 'Washington Heights-Manhattan',
 'West Brighton',
 'West Farms',
 'West Village',
 'West Village-Manhattan',
 'West Village-Manhattan Borough',
 'West Village-manhattan neighbourhood',
 'Westchester Square',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg',
 'Williamsburg-Brooklyn',
 'Williamsburg-Brooklyn Borough',
 'Willowbrook',
 'Windsor Terrace',
 'Windsor Terrace-Brooklyn',
 'Woodhaven',
 'Woodlawn',
 'Woodlawn-Bronx',
 'Woodside']

In [626]:
# Most of the values with '-' in it seem to have neighbourhood group following the '-', which is irrelavent
# Testing this, all but Co-op City follow this rule
sorted(df[df['neighbourhood'].str.contains('-')]['neighbourhood'].unique())

['Arrochar-Staten Island',
 'Astoria-Queens',
 'Bath Beach-Brooklyn',
 'Bay Ridge-Brooklyn',
 'Bayswater-Queens',
 'Bedford-Stuyvesant',
 'Bedford-Stuyvesant-Brooklyn',
 'Bedford-Stuyvesant-Brooklyn Borough',
 'Belmont-Bronx',
 'Brooklyn Heights-Brooklyn',
 'Brooklyn Heights-brklyn',
 'Bushwick-Brooklyn',
 'Canarsie-Brooklyn',
 'Chelsea-Manhattan',
 'Chelsea-Manhattan Borough',
 'Chinatown-Manhattan',
 'Chinatown-Manhattan Borough',
 'Chinatown-manhattan neighbourhood',
 'Clinton Hill-Brooklyn',
 'Co-op City',
 'College Point-Queens',
 'Columbia St-Brooklyn',
 'Concourse-Bronx',
 'Crown Heights-Brooklyn',
 'Cypress Hills-Brooklyn',
 'Ditmars Steinway-Queens',
 'East Elmhurst-Queens',
 'East Flatbush-Brooklyn',
 'East Flatbush-Brooklyn Borough',
 'East Harlem-Manhattan',
 'East Harlem-Manhattan Borough',
 'East Harlem-manhattan-neighbourhood',
 'East Harlem-mnahattan',
 'East New York-Brooklyn',
 'East New York-Brooklyn Borough',
 'East Village-Manhattan',
 'East Village-Manhattan Borough',
 'East Village-manhattan neighbourhood',
 'East Village-mnahattan',
 'Elmhurst-Queens',
 'Financial District-Manhattan',
 'Financial District-Manhattan Borough',
 'Flatbush-Brooklyn',
 'Flatlands-Brooklyn',
 'Flushing-Queens',
 'Forest Hills-Queens',
 'Fort Greene-Brooklyn',
 'Gowanus-Brooklyn',
 'Gramercy-Manhattan',
 'Greenpoint-Brooklyn',
 'Greenpoint-Brooklyn Borough',
 'Greenwich Village-manhattan neighbourhood',
 'Harlem-Manhattan',
 'Harlem-Manhattan Borough',
 'Harlem-manhattan neighbourhood',
 'Harlem-mnahattan',
 "Hell's Kitchen-Manhattan",
 "Hell's Kitchen-Manhattan Borough",
 "Hell's Kitchen-manhattan neighbourhood",
 'Inwood-Manhattan',
 'Inwood-Manhattan Borough',
 'Jackson Heights-Queens',
 'Jamaica-Queens',
 'Kensington-Brooklyn',
 'Kingsbridge-Bronx',
 'Kips Bay-Manhattan',
 'Laurelton-Queens -Neighbourhood Group',
 'Little Italy-Manhattan',
 'Long Island City-Queens',
 'Longwood-Bronx',
 'Lower East Side-Manhattan',
 'Lower East Side-Manhattan Borough',
 'Lower East Side-manhattan-neighbourhood',
 'Midtown-Manhattan',
 'Midtown-Manhattan Borough',
 'Midtown-manhattan neighbourhood',
 'Midwood-Brooklyn',
 'Morningside Heights-Manhattan',
 'Mott Haven-Bronx',
 'Murray Hill-Manhattan',
 'Murray Hill-Manhattan Borough',
 'Navy Yard-Brooklyn',
 'Norwood-Bronx',
 'Park Slope-Brooklyn',
 'Prospect Heights-Brooklyn',
 'Prospect Heights-brklyn',
 'Prospect-Lefferts Gardens',
 'Prospect-Lefferts Gardens-Brooklyn Borough',
 'Queens Village-Queens',
 'Sheepshead Bay-Brooklyn',
 'SoHo-Manhattan',
 'South Slope-Brooklyn',
 'Springfield Gardens-Queens',
 'Springfield Gardens-Queens -Neighbourhood Group',
 'Sunnyside-Queens',
 'Sunset Park-Brooklyn',
 'Tompkinsville-Staten Island',
 'Tribeca-Manhattan Borough',
 'Upper East Side-Manhattan',
 'Upper East Side-Manhattan Borough',
 'Upper West Side-Manhattan',
 'Upper West Side-Manhattan Borough',
 'Upper West Side-mnahattan',
 'Wakefield-Bronx',
 'Washington Heights-Manhattan',
 'West Village-Manhattan',
 'West Village-Manhattan Borough',
 'West Village-manhattan neighbourhood',
 'Williamsburg-Brooklyn',
 'Williamsburg-Brooklyn Borough',
 'Windsor Terrace-Brooklyn',
 'Woodlawn-Bronx']

In [627]:
# Fix this issue
df['neighbourhood'] = df['neighbourhood'].str.split('-').str[0]
df['neighbourhood'].replace('Co', 'Co-op City', inplace = True)
sorted(df['neighbourhood'].unique())

['Allerton',
 'Arden Heights',
 'Arrochar',
 'Arverne',
 'Astoria',
 'Bath Beach',
 'Battery Park City',
 'Bay Ridge',
 'Bay Terrace',
 'Bay Terrace, Staten Island',
 'Baychester',
 'Bayside',
 'Bayswater',
 'Bedford',
 'Belle Harbor',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point',
 'Briarwood',
 'Brighton Beach',
 'Bronxdale',
 'Brooklyn Heights',
 'Brownsville',
 "Bull's Head",
 'Bushwick',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Castle Hill',
 'Castleton Corners',
 'Chelsea',
 'Chinatown',
 'City Island',
 'Civic Center',
 'Claremont Village',
 'Clason Point',
 'Clifton',
 'Clinton Hill',
 'Co-op City',
 'Cobble Hill',
 'College Point',
 'Columbia St',
 'Concord',
 'Concourse',
 'Concourse Village',
 'Coney Island',
 'Corona',
 'Crown Heights',
 'Cypress Hills',
 'DUMBO',
 'Ditmars Steinway',
 'Dongan Hills',
 'Douglaston',
 'Downtown Brooklyn',
 'Dyker Heights',
 'East Elmhurst',
 'East Flatbush',
 'East Harlem',
 'East Morrisania',
 'East New York',
 'East Village',
 'Eastchester',
 'Edenwald',
 'Edgemere',
 'Elmhurst',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fieldston',
 'Financial District',
 'Flatbush',
 'Flatiron District',
 'Flatlands',
 'Flushing',
 'Fordham',
 'Forest Hills',
 'Fort Greene',
 'Fort Hamilton',
 'Fresh Meadows',
 'Glendale',
 'Gowanus',
 'Gramercy',
 'Graniteville',
 'Grant City',
 'Gravesend',
 'Great Kills',
 'Greenpoint',
 'Greenwich Village',
 'Grymes Hill',
 'Harlem',
 "Hell's Kitchen",
 'Highbridge',
 'Hollis',
 'Holliswood',
 'Howard Beach',
 'Howland Hook',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'Jamaica Hills',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Kips Bay',
 'Laurelton',
 'Lighthouse Hill',
 'Little Italy',
 'Little Neck',
 'Long Island City',
 'Longwood',
 'Lower East Side',
 'Manhattan Beach',
 'Marble Hill',
 'Mariners Harbor',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midland Beach',
 'Midtown',
 'Midwood',
 'Mill Basin',
 'Morningside Heights',
 'Morris Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven',
 'Mount Eden',
 'Mount Hope',
 'Murray Hill',
 'Navy Yard',
 'Neponsit',
 'New Brighton',
 'New Dorp Beach',
 'New Springville',
 'NoHo',
 'Nolita',
 'North Riverdale',
 'Norwood',
 'Oakwood',
 'Olinville',
 'Ozone Park',
 'Park Slope',
 'Parkchester',
 'Pelham Bay',
 'Pelham Gardens',
 'Port Morris',
 'Port Richmond',
 "Prince's Bay",
 'Prospect',
 'Prospect Heights',
 'Queens Village',
 'Randall Manor',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Richmondtown',
 'Ridgewood',
 'Riverdale',
 'Rockaway Beach',
 'Roosevelt Island',
 'Rosebank',
 'Rosedale',
 'Rossville',
 'Schuylerville',
 'Sea Gate',
 'Sheepshead Bay',
 'Shore Acres',
 'Silver Lake',
 'SoHo',
 'Soundview',
 'South Beach',
 'South Ozone Park',
 'South Slope',
 'Springfield Gardens',
 'Spuyten Duyvil',
 'St. Albans',
 'St. George',
 'Stapleton',
 'Stuyvesant Town',
 'Sunnyside',
 'Sunset Park',
 'Theater District',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tottenville',
 'Tremont',
 'Tribeca',
 'Two Bridges',
 'Unionport',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Van Nest',
 'Vinegar Hill',
 'Wakefield',
 'Washington Heights',
 'West Brighton',
 'West Farms',
 'West Village',
 'Westchester Square',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg',
 'Willowbrook',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn',
 'Woodside']

In [628]:
# 'Bay Terrace, Staten Island' still has irrelavent information, so fix this
df['neighbourhood'].replace('Bay Terrace, Staten Island', 'Bay Terrace', inplace = True)
sorted(df['neighbourhood'].unique())

['Allerton',
 'Arden Heights',
 'Arrochar',
 'Arverne',
 'Astoria',
 'Bath Beach',
 'Battery Park City',
 'Bay Ridge',
 'Bay Terrace',
 'Baychester',
 'Bayside',
 'Bayswater',
 'Bedford',
 'Belle Harbor',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Boerum Hill',
 'Borough Park',
 'Breezy Point',
 'Briarwood',
 'Brighton Beach',
 'Bronxdale',
 'Brooklyn Heights',
 'Brownsville',
 "Bull's Head",
 'Bushwick',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Castle Hill',
 'Castleton Corners',
 'Chelsea',
 'Chinatown',
 'City Island',
 'Civic Center',
 'Claremont Village',
 'Clason Point',
 'Clifton',
 'Clinton Hill',
 'Co-op City',
 'Cobble Hill',
 'College Point',
 'Columbia St',
 'Concord',
 'Concourse',
 'Concourse Village',
 'Coney Island',
 'Corona',
 'Crown Heights',
 'Cypress Hills',
 'DUMBO',
 'Ditmars Steinway',
 'Dongan Hills',
 'Douglaston',
 'Downtown Brooklyn',
 'Dyker Heights',
 'East Elmhurst',
 'East Flatbush',
 'East Harlem',
 'East Morrisania',
 'East New York',
 'East Village',
 'Eastchester',
 'Edenwald',
 'Edgemere',
 'Elmhurst',
 'Eltingville',
 'Emerson Hill',
 'Far Rockaway',
 'Fieldston',
 'Financial District',
 'Flatbush',
 'Flatiron District',
 'Flatlands',
 'Flushing',
 'Fordham',
 'Forest Hills',
 'Fort Greene',
 'Fort Hamilton',
 'Fresh Meadows',
 'Glendale',
 'Gowanus',
 'Gramercy',
 'Graniteville',
 'Grant City',
 'Gravesend',
 'Great Kills',
 'Greenpoint',
 'Greenwich Village',
 'Grymes Hill',
 'Harlem',
 "Hell's Kitchen",
 'Highbridge',
 'Hollis',
 'Holliswood',
 'Howard Beach',
 'Howland Hook',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'Jamaica Hills',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Kips Bay',
 'Laurelton',
 'Lighthouse Hill',
 'Little Italy',
 'Little Neck',
 'Long Island City',
 'Longwood',
 'Lower East Side',
 'Manhattan Beach',
 'Marble Hill',
 'Mariners Harbor',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midland Beach',
 'Midtown',
 'Midwood',
 'Mill Basin',
 'Morningside Heights',
 'Morris Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven',
 'Mount Eden',
 'Mount Hope',
 'Murray Hill',
 'Navy Yard',
 'Neponsit',
 'New Brighton',
 'New Dorp Beach',
 'New Springville',
 'NoHo',
 'Nolita',
 'North Riverdale',
 'Norwood',
 'Oakwood',
 'Olinville',
 'Ozone Park',
 'Park Slope',
 'Parkchester',
 'Pelham Bay',
 'Pelham Gardens',
 'Port Morris',
 'Port Richmond',
 "Prince's Bay",
 'Prospect',
 'Prospect Heights',
 'Queens Village',
 'Randall Manor',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Richmondtown',
 'Ridgewood',
 'Riverdale',
 'Rockaway Beach',
 'Roosevelt Island',
 'Rosebank',
 'Rosedale',
 'Rossville',
 'Schuylerville',
 'Sea Gate',
 'Sheepshead Bay',
 'Shore Acres',
 'Silver Lake',
 'SoHo',
 'Soundview',
 'South Beach',
 'South Ozone Park',
 'South Slope',
 'Springfield Gardens',
 'Spuyten Duyvil',
 'St. Albans',
 'St. George',
 'Stapleton',
 'Stuyvesant Town',
 'Sunnyside',
 'Sunset Park',
 'Theater District',
 'Throgs Neck',
 'Todt Hill',
 'Tompkinsville',
 'Tottenville',
 'Tremont',
 'Tribeca',
 'Two Bridges',
 'Unionport',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Van Nest',
 'Vinegar Hill',
 'Wakefield',
 'Washington Heights',
 'West Brighton',
 'West Farms',
 'West Village',
 'Westchester Square',
 'Westerleigh',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg',
 'Willowbrook',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn',
 'Woodside']

In [629]:
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Room Type - Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Room Type - Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Room Type - Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn,Brooklyn Heights,40.69827,-73.99649,Entire home/apt,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,1,1,2019-07-08,1.00,1,69.056465,30

Fixing room and type

In [630]:
sorted(df['room and type'].unique())

['Complete Home/Apt',
 'Entire Home/Apartment',
 'Entire Home/Apt',
 'Entire home/apt',
 'Private Room',
 'Private room',
 'Room Type - Entire Home/Apartment',
 'Room Type Private',
 'Room Type-Shared room',
 'Shared room']

In [631]:
fix_rooms = {'Complete Home/Apt': 'Entire Home/Apartment', 'Entire Home/Apt' : 'Entire Home/Apartment',
            'Entire home/apt' : 'Entire Home/Apartment', 'Private room' : 'Private Room', 
            'Room Type - Entire Home/Apartment' : 'Entire Home/Apartment', 
            'Room Type Private' : 'Private Room', 'Room Type-Shared room' : 'Shared room'}
df['room and type'].replace(fix_rooms, inplace=True)
sorted(df['room and type'].unique())

['Entire Home/Apartment', 'Private Room', 'Shared room']

In [632]:
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apartment,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn,Brooklyn Heights,40.69827,-73.99649,Entire Home/Apartment,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private Room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private Room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire Home/Apartment,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private Room,1,1,2019-07-08,1.00,1,69.056465,30

Fix Name and Host-name columns

In [633]:
# Remove special characters
cols = {'name', 'host-name'}

for col in cols:
    df[col].replace('[^0-9A-Za-z &/]', '', regex = True, inplace = True)
    
df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apartment,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn,Brooklyn Heights,40.69827,-73.99649,Entire Home/Apartment,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private Room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private Room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire Home/Apartment,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,Cozy Private Room in Bushwick Brooklyn,74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private Room,1,1,2019-07-08,1.00,1,69.056465,30

In [634]:
# Remove lines with wrong characters
def replace_special_chars(txt):
    txt = txt.strip()
    if txt.isnumeric() or txt == '/' or txt == '&':
        return ''
    return txt

for col in cols:
    df[col] = df[col].apply(replace_special_chars)
    df.drop(df.loc[df[col]==''].index, inplace=True)

df

,ID,name,host [id],host-name,neighbourhood group,neighbourhood,latitude,longitude,room and type,minimum nights,number_of_reviews,last_review,reviews_per_month,floor,noise(dB),Price ($)
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,1,9,2018-10-19,0.21,1,69.056465,149
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apartment,1,45,2019-05-21,0.38,1,56.054278,225
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apartment,1,270,2019-07-05,4.64,1,69.056465,89
4,5022,Entire Apt Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apartment,10,9,2018-11-19,0.10,1,56.054278,80
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire Home/Apartment,3,74,2019-06-22,0.59,1,56.054278,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38991,36413632,Spacious 2BR in Beautiful Brooklyn Heights,6608220,Matt,Brooklyn,Brooklyn Heights,40.69827,-73.99649,Entire Home/Apartment,3,1,2019-07-07,1.00,1,70.056465,550
39024,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private Room,1,1,2019-07-07,1.00,1,56.054278,129
39039,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private Room,1,1,2019-07-07,1.00,1,50.964360,235
39045,36442252,1B1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire Home/Apartment,1,2,2019-07-07,2.00,5,78.474074,100
39082,36455809,Cozy Private Room in Bushwick Brooklyn,74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private Room,1,1,2019-07-08,1.00,1,69.056465,30

# Export as csv

In [635]:
df.reset_index(drop = True, inplace = True)

filepath = Path("/Users/sriyaankvad/Desktop/Work/School/Work/Spring 2023/Data Science Capstone/assignment1.csv")
df.to_csv(filepath)